In [1]:
import pandas as pd
import numpy as np
import py_pcha
from py_pcha import PCHA
import matplotlib.pyplot as plt
from numpy.matlib import repmat

In [2]:
data=pd.read_csv("/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/us_states_covid19_daily.csv")
data

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201206,AK,35720.0,NaN,1042056.0,NaN,totalTestsViral,1077776.0,164.0,799.0,...,1077776,0,0,7b1d31e2756687bb9259b29195f1db6cdb321ea6,0,0,0,0,0,NaN
1,20201206,AL,269877.0,45962.0,1421126.0,NaN,totalTestsPeopleViral,1645041.0,1927.0,26331.0,...,1691003,12,0,19454ed8fe28fc0a7948fc0771b2f3c846c1c92e,0,0,0,0,0,NaN
2,20201206,AR,170924.0,22753.0,1614979.0,NaN,totalTestsViral,1763150.0,1076.0,9401.0,...,1785903,40,21,25fc83bffff5b32ba1a737be8e087fad9f4fde33,0,0,0,0,0,NaN
3,20201206,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,8c39eec317586b0c34fc2903e6a3891ecb00469e,0,0,0,0,0,NaN
4,20201206,AZ,364276.0,12590.0,2018813.0,NaN,totalTestsPeopleViral,2370499.0,2977.0,28248.0,...,2383089,25,242,7cf59da9e4bc31d905e179211313d08879880a85,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15628,20200124,WA,0.0,NaN,0.0,NaN,totalTestEncountersViral,0.0,NaN,NaN,...,0,0,0,82726df68eb97c98a4a6ee792349e547023147d5,0,0,0,0,0,NaN
15629,20200123,MA,NaN,NaN,NaN,NaN,totalTestsViral,2.0,NaN,NaN,...,0,0,0,76bc987d054b119a4e05a4a43742249c0b0568b6,0,0,0,0,0,NaN
15630,20200123,WA,0.0,NaN,0.0,NaN,totalTestEncountersViral,0.0,NaN,NaN,...,0,0,0,1c2229c239ffad5e5fdd9d76c641dc9166caf6ba,0,0,0,0,0,NaN
15631,20200122,MA,NaN,NaN,NaN,NaN,totalTestsViral,1.0,NaN,NaN,...,0,0,0,01f5dcd6631859503ef1b62d81d49e41d12fc1bd,0,0,0,0,0,NaN
15632,20200122,WA,0.0,NaN,0.0,NaN,totalTestEncountersViral,0.0,NaN,NaN,...,0,0,0,4502685e582e68071bfe8f7e1b307bc09c16728d,0,0,0,0,0,NaN

In [ ]:
data=pd.read_csv("/Users/u0984549/Documents/GitHub/ArchetypalAnalysis/data/us_states_covid19_daily.csv")
#data

In [3]:
data_time = data[['date','state','positive','negative','totalTestResults','recovered', 'death']]
data_time = data_time.dropna()
data_time = data_time.reset_index()
data_time

,index,date,state,positive,negative,totalTestResults,recovered,death
0,0,20201206,AK,35720.0,1042056.0,1077776.0,7165.0,143.0
1,1,20201206,AL,269877.0,1421126.0,1645041.0,168387.0,3889.0
2,2,20201206,AR,170924.0,1614979.0,1763150.0,149490.0,2660.0
3,4,20201206,AZ,364276.0,2018813.0,2370499.0,56382.0,6950.0
4,6,20201206,CO,260581.0,1608829.0,3478160.0,13941.0,2724.0
...,...,...,...,...,...,...,...,...
11096,14289,20200326,DE,130.0,36.0,3148.0,4.0,3.0
11097,14294,20200326,IA,179.0,2578.0,2757.0,15.0,1.0
11098,14325,20200326,SD,46.0,1973.0,2019.0,16.0,1.0
11099,14338,20200325,AR,280.0,1437.0,1717.0,11.0,2.0
11100,14361,20200325,MN,502.0,11188.0,11690.0,121.0,1.0

In [ ]:
data_time_sm["date"][0]

In [4]:
states = ['CO', 'UT', 'ND', 'NY', 'NC', 'AR', 'MS', 'CT', 'IN']
data_time_sm = data_time.loc[data_time['state'].isin(states)]
data_time_sm = data_time_sm.reset_index()
data_time_sm

,level_0,index,date,state,positive,negative,totalTestResults,recovered,death
0,2,2,20201206,AR,170924.0,1614979.0,1763150.0,149490.0,2660.0
1,4,6,20201206,CO,260581.0,1608829.0,3478160.0,13941.0,2724.0
2,5,7,20201206,CT,127715.0,3294383.0,3422098.0,9800.0,5146.0
3,12,17,20201206,IN,381617.0,1928262.0,4577211.0,224059.0,6242.0
4,22,28,20201206,MS,164931.0,982395.0,1147326.0,128746.0,3961.0
...,...,...,...,...,...,...,...,...,...
2069,11083,14226,20200327,AR,381.0,1545.0,1926.0,19.0,3.0
2070,11090,14255,20200327,ND,61.0,2427.0,2549.0,15.0,0.0
2071,11091,14261,20200327,NY,44637.0,93988.0,138625.0,2045.0,519.0
2072,11094,14282,20200326,AR,335.0,1504.0,1839.0,13.0,3.0
2073,11099,14338,20200325,AR,280.0,1437.0,1717.0,11.0,2.0

In [5]:
from datetime import datetime, timedelta

# you could also import date instead of datetime and use that.
#date = datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8]))

for i in range(len(data_time_sm)):
    string_date = data_time_sm["date"][i]
    string_date = str(string_date)
    data_time_sm["date"][i] = datetime(year=int(string_date[0:4]), 
                                    month=int(string_date[4:6]),
                                   day=int(string_date[6:8]))
    data_time_sm["date"][i] = data_time_sm["date"][i].date()
    
data_time_sm

<ipython-input-5-e164f0a680cf>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_time_sm["date"][i] = datetime(year=int(string_date[0:4]),
<ipython-input-5-e164f0a680cf>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_time_sm["date"][i] = data_time_sm["date"][i].date()

,level_0,index,date,state,positive,negative,totalTestResults,recovered,death
0,2,2,2020-12-06,AR,170924.0,1614979.0,1763150.0,149490.0,2660.0
1,4,6,2020-12-06,CO,260581.0,1608829.0,3478160.0,13941.0,2724.0
2,5,7,2020-12-06,CT,127715.0,3294383.0,3422098.0,9800.0,5146.0
3,12,17,2020-12-06,IN,381617.0,1928262.0,4577211.0,224059.0,6242.0
4,22,28,2020-12-06,MS,164931.0,982395.0,1147326.0,128746.0,3961.0
...,...,...,...,...,...,...,...,...,...
2069,11083,14226,2020-03-27,AR,381.0,1545.0,1926.0,19.0,3.0
2070,11090,14255,2020-03-27,ND,61.0,2427.0,2549.0,15.0,0.0
2071,11091,14261,2020-03-27,NY,44637.0,93988.0,138625.0,2045.0,519.0
2072,11094,14282,2020-03-26,AR,335.0,1504.0,1839.0,13.0,3.0
2073,11099,14338,2020-03-25,AR,280.0,1437.0,1717.0,11.0,2.0

In [6]:
data_time_sm = data_time_sm.drop(['level_0', 'index'], axis=1)

In [ ]:
from datetime import datetime, timedelta

# you could also import date instead of datetime and use that.
#date = datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8]))

for i in range(len(data_time)):
    string_date = data_time["date"][i]
    string_date = str(string_date)
    data_time["date"][i] = datetime(year=int(string_date[0:4]), 
                                    month=int(string_date[4:6]),
                                   day=int(string_date[6:8]))
    data_time["date"][i] = data_time["date"][i].date()
    
data_time

In [ ]:
data_time_sm.to_csv('/Users/u0984549/Documents/GitHub/ArchetypalAnalysis/data/COVID19time.csv', index = False)

In [ ]:
data_time_sm.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/COVID19Smalltime.csv', index = False)

Data for 50 states, DC, and 5 territories on December 6, 2020. Select states and territories with missing values were removed.

In [ ]:
dec6 = data.loc[data['date'] == 20201206]
dec6 = dec6[['state','positive','negative','totalTestResults','recovered', 'death']]
dec6 = dec6.dropna()
dec6_state = dec6[['state']]

dec6raw = dec6

dec6 = dec6[['positive','negative','totalTestResults','recovered', 'death']]
dec6 = dec6.T
#dec6_state
dec6_variables = pd.DataFrame([dec6.index]).T
#dec6raw
dec6raw = dec6raw.rename(columns={"state":"id"})
dec6raw

In [ ]:
dec6raw.to_csv('/Users/u0984549/Documents/GitHub/ArchetypalAnalysis/data/COVID19states.csv', index = False)

In [ ]:
dec6raw.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/COVID19states.csv', index = False)

In [ ]:
dec6b = data.loc[data['date'] == 20201206]
dec6b = dec6b[['positive','negative','totalTestResults','recovered', 'death', 
              'probableCases','hospitalizedCurrently',
             'negativeRegularScore','positiveScore','deathIncrease',
              'totalTestsAntibody','dataQualityGrade', 'deathProbable']]
dec6b = dec6b.dropna()
dec6b = dec6b[:4]
dec6b.T

In [ ]:
dec6.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/COVID19.csv', index = False)

In [ ]:
dec6b.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/COVID19BIG.csv', index = False)

In [ ]:
dec6.to_csv('/Users/u0984549/Documents/GitHub/ArchetypalAnalysis/data/COVID19.csv', index = False)

In [ ]:
#dec6_wo_st = dec6[['positive','negative','totalTestResults','recovered', 'death']]
dec6_wo_st = dec6.to_numpy()
dec6_wo_st

In [115]:
data_time_sm

,date,state,positive,negative,totalTestResults,recovered,death
0,2020-12-06,AR,170924.0,1614979.0,1763150.0,149490.0,2660.0
1,2020-12-06,CO,260581.0,1608829.0,3478160.0,13941.0,2724.0
2,2020-12-06,CT,127715.0,3294383.0,3422098.0,9800.0,5146.0
3,2020-12-06,IN,381617.0,1928262.0,4577211.0,224059.0,6242.0
4,2020-12-06,MS,164931.0,982395.0,1147326.0,128746.0,3961.0
...,...,...,...,...,...,...,...
2069,2020-03-27,AR,381.0,1545.0,1926.0,19.0,3.0
2070,2020-03-27,ND,61.0,2427.0,2549.0,15.0,0.0
2071,2020-03-27,NY,44637.0,93988.0,138625.0,2045.0,519.0
2072,2020-03-26,AR,335.0,1504.0,1839.0,13.0,3.0
2073,2020-03-25,AR,280.0,1437.0,1717.0,11.0,2.0

In [128]:
state = data_time_sm.loc[data_time_sm['state'] == "AR"]
state.shape

(257, 7)

In [127]:
states = ['CO', 'UT', 'ND', 'NY', 'NC', 'AR', 'MS', 'CT', 'IN']
variables = ['positive','negative','totalTestResults','recovered', 'death']
arr_of_arr =np.empty((1,len(states)), dtype = object)

for i in range(len(states)):
    state = data_time_sm.loc[data_time_sm['state'] == "AR"]
    df = state.iloc[0:1]

    for i in range(state.shape[0]):
        var_name = str(i)
        df[var_name+"positive"] = state.iloc[i,2]
    
df
#state.iloc[1:, 2:]

#dataframe.iloc[0:1, 0:2]

#    for k in range(len(state_vars_date)):
#        print(state)
    #state_vars_arr = []
    #for j in range(len(variables)):
    #    state_vars_arr = state_vars[[""+variables[j]]]
    #    state_vars_num = state_vars.to_numpy()
    #    state_vars_arr = state_vars_num
    
    #arr_of_arr[0,i] = state_vars_arr

#print(data_time_sm.loc[data_time_sm['state'] == "CO"].shape)
#arr_of_arr[0].shape

<ipython-input-127-3dc9aada007a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[var_name+"positive"] = state.iloc[i,2]

,date,state,positive,negative,totalTestResults,recovered,death,0positive,1positive,2positive,...,247positive,248positive,249positive,250positive,251positive,252positive,253positive,254positive,255positive,256positive
0,2020-12-06,AR,170924.0,1614979.0,1763150.0,149490.0,2660.0,170924.0,169382.0,167137.0,...,704.0,643.0,584.0,523.0,473.0,426.0,404.0,381.0,335.0,280.0

In [79]:
import numpy as np
arr = np.empty((1,10), dtype=object) 
print(arr)
arr[0,2] = [4,6]
arr

[[None None None None None None None None None None]]

array([[None, None, list([4, 6]), None, None, None, None, None, None,
        None]], dtype=object)

In [81]:
states = ['CO', 'UT', 'ND', 'NY', 'NC', 'AR', 'MS', 'CT', 'IN']
variables = ['positive','negative','totalTestResults','recovered', 'death']
arr_of_arr =np.empty((1,len(states)), dtype = object)

for i in range(len(states)):
    state = data_time_sm.loc[data_time_sm['state'] == ""+states[i]]
    state_vars = state[["positive", "negative", "totalTestResults", "recovered", "death"]]
    state_vars_arr = []
    for j in range(len(variables)):
        state_vars_arr = state_vars[[""+variables[j]]]
        state_vars_num = state_vars.to_numpy()
        state_vars_arr = state_vars_num
    
    arr_of_arr[0,i] = state_vars_arr

print(data_time_sm.loc[data_time_sm['state'] == "CO"].shape)
arr_of_arr[0].shape

(227, 7)

(9,)

In [82]:
arr_of_arr.shape

(1, 9)

In [83]:
XC, S, C, SSE, varexpl = PCHA(arr_of_arr, noc=3, I = None, delta=0.1)

ValueError: operands could not be broadcast together with shapes (227,5) (238,5)

In [ ]:
XC

In [ ]:
def furthest_sum(K, noc, i, exclude=[]):
    
    def max_ind_val(l):
        return max(zip(range(len(l)), l), key=lambda x: x[1])
    
    I, J = K.shape
    #print(I,J)
    index = np.array(range(J))
    index[exclude] = 0
    index[i] = -1
    ind_t = i
    sum_dist = np.zeros((1, J), np.complex128)

    if J > noc * I:
        Kt = K
        Kt2 = np.sum(Kt**2, axis=0)
        for k in range(1, noc + 11):
            if k > noc - 1:
                Kq = np.dot(Kt[:, i[0]], Kt)
                #Kt_shape = Kt.shape
                #Kts = Kt[:, i[0]]
                #Ktsp = Kts.shape
                #Kq_shape = Kq.shape
                #print(Kt_shape,Ktsp,Kq_shape)
                sum_dist -= np.lib.scimath.sqrt(Kt2 - 2 * Kq + Kt2[i[0]])
                index[i[0]] = i[0]
                i = i[1:]
            t = np.where(index != -1)[0]
            Kq = np.dot(Kt[:, ind_t].T, Kt)
            sum_dist += np.lib.scimath.sqrt(Kt2 - 2 * Kq + Kt2[ind_t])
            #print(Kt2)
            ind, val = max_ind_val(sum_dist[:, t][0].real)
            ind_t = t[ind]
            i.append(ind_t)
            index[ind_t] = -1
    else:
        if I != J or np.sum(K - K.T) != 0:  # Generate kernel if K not one
            Kt = K
            K = np.dot(Kt.T, Kt)
            K = np.lib.scimath.sqrt(
                repmat(np.diag(K), J, 1) - 2 * K + \
                repmat(np.mat(np.diag(K)).T, 1, J)
            )

        Kt2 = np.diag(K)  # Horizontal
        for k in range(1, noc + 11):
            if k > noc - 1:
                sum_dist -= np.lib.scimath.sqrt(Kt2 - 2 * K[i[0], :] + Kt2[i[0]])
                index[i[0]] = i[0]
                i = i[1:]
            t = np.where(index != -1)[0]
            sum_dist += np.lib.scimath.sqrt(Kt2 - 2 * K[ind_t, :] + Kt2[ind_t])
            ind, val = max_ind_val(sum_dist[:, t][0].real)
            ind_t = t[ind]
            i.append(ind_t)
            index[ind_t] = -1

    return i

In [ ]:
"""Principal Convex Hull Analysis (PCHA) / Archetypal Analysis."""

import numpy as np
from scipy.sparse import csr_matrix
from datetime import datetime as dt
import time

#from py_pcha.furthest_sum import furthest_sum


def PCHAm(X, noc, I=None, U=None, delta=0, verbose=False, conv_crit=1E-6, maxiter=500):
    """Return archetypes of dataset.
    Note: Commonly data is formatted to have shape (examples, dimensions).
    This function takes input and returns output of the transposed shape,
    (dimensions, examples).
    Parameters
    ----------
    X : numpy.2darray
        Data matrix in which to find archetypes
    noc : int
        Number of archetypes to find
    I : 1d-array
        Entries of X to use for dictionary in C (optional)
    U : 1d-array
        Entries of X to model in S (optional)
    Output
    ------
    XC : numpy.2darray
        I x noc feature matrix (i.e. XC=X[:,I]*C forming the archetypes)
    S : numpy.2darray
        noc x length(U) matrix, S>=0 |S_j|_1=1
    C : numpy.2darray
        noc x length(U) matrix, S>=0 |S_j|_1=1
    SSE : float
        Sum of Squared Errors
    varexlp : float
        Percent variation explained by the model
    """
    def S_update(S, XCtX, CtXtXC, muS, SST, SSE, niter):
        """Update S for one iteration of the algorithm."""
        noc, J = S.shape
        e = np.ones((noc, 1))
        #print(e.ndim)
        for k in range(niter):
            SSE_old = SSE
            #print(SSE_old)
            g = (np.dot(CtXtXC, S) - XCtX) / (SST / J)
            #print(g)
            g = g - e * np.sum(g.A * S.A, axis=0)
            #print(g)

            S_old = S
            #print(S_old)
            while True:
                S = (S_old - g * muS).clip(min=0)
                S = S / np.dot(e, np.sum(S, axis=0))
                #print(S)
                SSt = S * S.T
                #print(SSt)
                SSE = SST - 2 * np.sum(XCtX.A * S.A) + np.sum(CtXtXC.A * SSt.A)
                #print(SSE)
                #print(SSE_old)
                if SSE <= SSE_old * (1 + 1e-9):
                    muS = muS * 1.2
                    #print(muS)
                    break
                else:
                    muS = muS / 2

        return S, SSE, muS, SSt

    def C_update(X, XSt, XC, SSt, C, delta, muC, mualpha, SST, SSE, niter=1):
        """Update C for one iteration of the algorithm."""
        J, nos = C.shape

        if delta != 0:
            alphaC = np.sum(C, axis=0).A[0]
            C = np.dot(C, np.diag(1 / alphaC))

        #print(C)
        e = np.ones((J, 1))
        XtXSt = np.dot(X.T, XSt)
        #print(XtXSt)

        for k in range(niter):

            # Update C
            SSE_old = SSE
            #print(SSE_old)
            g = (np.dot(X.T, np.dot(XC, SSt)) - XtXSt) / SST
            #print(g)

            if delta != 0:
                g = np.dot(g, np.diag(alphaC))
            g = g.A - e * np.sum(g.A * C.A, axis=0)
            #print(g)
            
            C_old = C
            while True:
                C = (C_old - muC * g).clip(min=0)
                #print(C)
                nC = np.sum(C, axis=0) + np.finfo(float).eps
                C = np.dot(C, np.diag(1 / nC.A[0]))
                #print(C)
                
                if delta != 0:
                    Ct = C * np.diag(alphaC)
                else:
                    Ct = C

                XC = np.dot(X, Ct)
                CtXtXC = np.dot(XC.T, XC)
                #print(CtXtXC)
                SSE = SST - 2 * np.sum(XC.A * XSt.A) + np.sum(CtXtXC.A * SSt.A)
                #print(SSE)
                
                if SSE <= SSE_old * (1 + 1e-9):
                    muC = muC * 1.2
                    break
                else:
                    muC = muC / 2

            # Update alphaC
            SSE_old = SSE
            if delta != 0:
                g = (np.diag(CtXtXC * SSt).T / alphaC - np.sum(C.A * XtXSt.A)) / (SST * J)
                #print(g)
                alphaC_old = alphaC
                while True:
                    alphaC = alphaC_old - mualpha * g
                    alphaC[alphaC < 1 - delta] = 1 - delta
                    alphaC[alphaC > 1 + delta] = 1 + delta

                    XCt = np.dot(XC, np.diag(alphaC / alphaC_old))
                    CtXtXC = np.dot(XCt.T, XCt)
                    SSE = SST - 2 * np.sum(XCt.A * XSt.A) + np.sum(CtXtXC.A * SSt.A)
                    #print(SSE)
                    
                    if SSE <= SSE_old * (1 + 1e-9):
                        mualpha = mualpha * 1.2
                        XC = XCt
                        break
                    else:
                        mualpha = mualpha / 2

        if delta != 0:
            C = C * np.diag(alphaC)

        return C, SSE, muC, mualpha, CtXtXC, XC

    N, M = X.shape
    

    if I is None:
        I = range(M)
    if U is None:
        U = range(M)
        
    #print(X[:,U])

    SST = np.sum(X[:, U] * X[:, U])
    #print(SST)
    
    #print(X[:,I])

    #Initialize C
    try:
       i = furthest_sum(X[:, I], noc, [int(np.ceil(len(I) * np.random.rand()))])
    except IndexError:
        class InitializationException(Exception): pass
        raise InitializationException("Initialization does not converge. Too few examples in dataset.")

    #i = [1,2,0]
        
    j = range(noc)
    C = csr_matrix((np.ones(len(i)), (i, j)), shape=(len(I), noc)).todense()
    #print(C)
    
    XC = np.dot(X[:, I], C)
    #print(XC)

    muS, muC, mualpha = 1, 1, 1

    # Initialise S
    XCtX = np.dot(XC.T, X[:, U])
    #print(XCtX)
    CtXtXC = np.dot(XC.T, XC)
    #print(CtXtXC)
    S = -np.log(np.random.random((noc, len(U))))
    #S = -np.log((np.ones((3,48))-0.5))
    #print(S)
    S = S / np.dot(np.ones((noc, 1)), np.mat(np.sum(S, axis=0)))
    #print(S)
    SSt = np.dot(S, S.T)
    SSE = SST - 2 * np.sum(XCtX.A * S.A) + np.sum(CtXtXC.A * SSt.A)
    #print(SSE)
    S, SSE, muS, SSt = S_update(S, XCtX, CtXtXC, muS, SST, SSE, 25)
    #print(S, SSE, muS, SSt)

    # Set PCHA parameters
    iter_ = 0
    dSSE = np.inf
    t1 = dt.now()
    varexpl = (SST - SSE) / SST
    #print(varexpl)

    if verbose:
        print('\nPrincipal Convex Hull Analysis / Archetypal Analysis')
        print('A ' + str(noc) + ' component model will be fitted')
        print('To stop algorithm press control C\n')

    dheader = '%10s | %10s | %10s | %10s | %10s | %10s | %10s | %10s' % ('Iteration', 'Expl. var.', 'Cost func.', 'Delta SSEf.', 'muC', 'mualpha', 'muS', ' Time(s)   ')
    dline = '-----------+------------+------------+-------------+------------+------------+------------+------------+'

    while np.abs(dSSE) >= conv_crit * np.abs(SSE) and iter_ < maxiter and varexpl < 0.9999:
        if verbose and iter_ % 100 == 0:
            print(dline)
            print(dheader)
            print(dline)
        told = t1
        iter_ += 1
        SSE_old = SSE

        # C (and alpha) update
        XSt = np.dot(X[:, U], S.T)
        #print(XSt)
        C, SSE, muC, mualpha, CtXtXC, XC = C_update(
            X[:, I], XSt, XC, SSt, C, delta, muC, mualpha, SST, SSE, 10
        )
        #print(C,SSE,muC,mualpha,CtXtXC,XC)

        # S update
        XCtX = np.dot(XC.T, X[:, U])
        #print(XCtX)
        S, SSE, muS, SSt = S_update(
            S, XCtX, CtXtXC, muS, SST, SSE, 10
        )
        #print(S,SSE,muS,SSt)

        # Evaluate and display iteration
        dSSE = SSE_old - SSE
        #print(dSSE)
        t1 = dt.now()
        if iter_ % 1 == 0:
            time.sleep(0.000001)
            varexpl = (SST - SSE) / SST
            if verbose:
                print('%10.0f | %10.4f | %10.4e | %10.4e | %10.4e | %10.4e | %10.4e | %10.4f \n' % (iter_, varexpl, SSE, dSSE/np.abs(SSE), muC, mualpha, muS, (t1-told).seconds))

    # Display final iteration
    varexpl = (SST - SSE) / SST
    #print(varexpl)
    if verbose:
        print(dline)
        print(dline)
        print('%10.0f | %10.4f | %10.4e | %10.4e | %10.4e | %10.4e | %10.4e | %10.4f \n' % (iter_, varexpl, SSE, dSSE/np.abs(SSE), muC, mualpha, muS, (t1-told).seconds))

    #print(S)
    #print(C)
    #print(XC)
        
    # Sort components according to importance
    ind, vals = zip(
        *sorted(enumerate(np.sum(S, axis=1)), key=lambda x: x[0], reverse=1)
    )
    S = S[ind, :]
    C = C[:, ind]
    XC = XC[:, ind]

    return XC, S, C, SSE, varexpl

XC2, S2, C2, SSE2, varexpl2 = PCHAm(dec6_wo_st, noc=3, I = None, delta=0)

In [ ]:
S_matrix_pd = pd.DataFrame(S2.T)

In [ ]:
dec6_state = dec6_state.reset_index()
dec6_state = dec6_state['state']
dec6_state
S_pd = pd.concat([dec6_state, S_matrix_pd], axis=1)
S_pd
#S_pd = S_pd.set_index('state')

In [ ]:
S_pd.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/SdataFrame.csv', index = False)

In [ ]:
dec6_variables = dec6_variables.rename(columns={0: "var"})
dec6_variables

In [ ]:
XC2_pd = pd.DataFrame(XC2)
XC2_pd = pd.concat([dec6_variables,XC2_pd], axis = 1)
#XC2_pd = XC2_pd.set_index("var")
XC2_pd

In [ ]:
XC2_pd.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/XC.csv', index = False)

In [ ]:
XC, S, C, SSE, varexpl = PCHA(dec6_wo_st, noc=3, I = None, delta=0)

In [ ]:
S[:,1]

In [ ]:
ans = 0

a = XC[:,0] - XC2[:,1]
ans = ans + a

ans2 = 0

a = XC[:,1] - XC2[:,2]
ans2 = ans2 + a

ans3 = 0

a = XC[:,2] - XC2[:,0]
ans = ans3 + a
    
print(ans, ans2, ans3)

In [ ]:
ans = 0

for i in range(len(S)):
    a = S[i] - S2[i]
    ans = ans + a
    
print(ans)

In [ ]:
ans = 0

for i in range(len(C)):
    a = C[i] - C2[i]
    ans = ans + a
    
print(ans)

In [68]:
fifa = pd.read_csv("/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/FIFA.csv")
#fifa=pd.read_csv("/Users/u0984549/Documents/GitHub/ArchetypalAnalysis/data/FIFA.csv")
fifa = fifa[['Name','Age', 'Overall', 'Crossing','Finishing','HeadingAccuracy',
            'ShortPassing','Volleys','Dribbling','Curve','FKAccuracy','LongPassing',
            'BallControl','Acceleration','SprintSpeed','Agility','Reactions','Balance',
            'ShotPower','Jumping','Stamina','Strength','LongShots','Aggression',
            'Interceptions','Positioning','Vision','Penalties','Composure','Marking',
            'StandingTackle','SlidingTackle','GKDiving','GKHandling','GKKicking',
            'GKPositioning','GKReflexes']]
fifa.dtypes

Name                object
Age                  int64
Overall              int64
Crossing           float64
Finishing          float64
HeadingAccuracy    float64
ShortPassing       float64
Volleys            float64
Dribbling          float64
Curve              float64
FKAccuracy         float64
LongPassing        float64
BallControl        float64
Acceleration       float64
SprintSpeed        float64
Agility            float64
Reactions          float64
Balance            float64
ShotPower          float64
Jumping            float64
Stamina            float64
Strength           float64
LongShots          float64
Aggression         float64
Interceptions      float64
Positioning        float64
Vision             float64
Penalties          float64
Composure          float64
Marking            float64
StandingTackle     float64
SlidingTackle      float64
GKDiving           float64
GKHandling         float64
GKKicking          float64
GKPositioning      float64
GKReflexes         float64
dtype: object

In [69]:
#fifa = fifa.drop(labels=['Name', 'Position'], axis=1)
fifa = pd.DataFrame(fifa)
fifa = fifa.dropna()
#fifa_num = fifa.to_numpy

In [ ]:
fifa.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/fifaRatings.csv', index = False)

In [ ]:
fifa.to_csv('/Users/u0984549/Documents/GitHub/ArchetypalAnalysis/data/fifaRatings.csv', index = False)

In [70]:
fifa_s = fifa.head(20)
fifa_s = fifa_s.rename(columns={"Name": "id"})

In [71]:
fifa_s

,id,Age,Overall,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,94,84.0,95.0,70.0,90.0,86.0,97.0,93.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,33,94,84.0,94.0,89.0,81.0,87.0,88.0,81.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,Neymar Jr,26,92,79.0,87.0,62.0,84.0,84.0,96.0,88.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,De Gea,27,91,17.0,13.0,21.0,50.0,13.0,18.0,21.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,K. De Bruyne,27,91,93.0,82.0,55.0,92.0,82.0,86.0,85.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0
5,E. Hazard,27,91,81.0,84.0,61.0,89.0,80.0,95.0,83.0,...,86.0,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0
6,L. Modrić,32,91,86.0,72.0,55.0,93.0,76.0,90.0,85.0,...,82.0,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0
7,L. Suárez,31,91,77.0,93.0,77.0,82.0,88.0,87.0,86.0,...,85.0,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0
8,Sergio Ramos,32,91,66.0,60.0,91.0,78.0,66.0,63.0,74.0,...,75.0,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0
9,J. Oblak,25,90,13.0,11.0,15.0,29.0,13.0,12.0,13.0,...,11.0,70.0,27.0,12.0,18.0,86.0,92.0,78.0,88.0,89.0
10,R. Lewandowski,29,90,62.0,91.0,85.0,83.0,89.0,85.0,77.0,...,88.0,86.0,34.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0
11,T. Kroos,28,90,88.0,76.0,54.0,92.0,82.0,81.0,86.0,...,73.0,85.0,72.0,79.0,69.0,10.0,11.0,13.0,7.0,10.0
12,D. Godín,32,90,55.0,42.0,92.0,79.0,47.0,53.0,49.0,...,50.0,82.0,90.0,89.0,89.0,6.0,8.0,15.0,5.0,15.0
13,David Silva,32,90,84.0,76.0,54.0,93.0,82.0,89.0,82.0,...,75.0,93.0,59.0,53.0,29.0,6.0,15.0,7.0,6.0,12.0
14,N. Kanté,27,89,68.0,65.0,54.0,86.0,56.0,79.0,49.0,...,54.0,85.0,90.0,91.0,85.0,15.0,12.0,10.0,7.0,10.0
15,P. Dybala,24,89,82.0,84.0,68.0,87.0,88.0,92.0,88.0,...,86.0,84.0,23.0,20.0,20.0,5.0,4.0,4.0,5.0,8.0
16,H. Kane,24,89,75.0,94.0,85.0,80.0,84.0,80.0,78.0,...,90.0,89.0,56.0,36.0,38.0,8.0,10.0,11.0,14.0,11.0
17,A. Griezmann,27,89,82.0,90.0,84.0,83.0,87.0,88.0,84.0,...,79.0,87.0,59.0,47.0,48.0,14.0,8.0,14.0,13.0,14.0
18,M. ter Stegen,26,89,15.0,14.0,11.0,36.0,14.0,17.0,18.0,...,25.0,69.0,25.0,13.0,10.0,87.0,85.0,88.0,85.0,90.0
19,T. Courtois,26,89,14.0,14.0,13.0,33.0,12.0,13.0,19.0,...,27.0,66.0,20.0,18.0,16.0,85.0,91.0,72.0,86.0,88.0

In [72]:
fifa = fifa.drop(labels=['Name'], axis=1)
fifa

,Age,Overall,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,31,94,84.0,95.0,70.0,90.0,86.0,97.0,93.0,94.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,33,94,84.0,94.0,89.0,81.0,87.0,88.0,81.0,76.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,26,92,79.0,87.0,62.0,84.0,84.0,96.0,88.0,87.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,27,91,17.0,13.0,21.0,50.0,13.0,18.0,21.0,19.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,27,91,93.0,82.0,55.0,92.0,82.0,86.0,85.0,83.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,19,47,34.0,38.0,40.0,49.0,25.0,42.0,30.0,34.0,...,43.0,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0
18203,19,47,23.0,52.0,52.0,43.0,36.0,39.0,32.0,20.0,...,43.0,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0
18204,16,47,25.0,40.0,46.0,38.0,38.0,45.0,38.0,27.0,...,55.0,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0
18205,17,47,44.0,50.0,39.0,42.0,40.0,51.0,34.0,32.0,...,50.0,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0
18206,16,46,41.0,34.0,46.0,48.0,30.0,43.0,40.0,34.0,...,33.0,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0

In [73]:
fifa_num = fifa.to_numpy()

In [75]:
fifa_num.shape

(18159, 36)

In [ ]:
fifa_s.to_csv('/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/fifaRatingsSmall.csv', index = False)

In [ ]:
fifa_s.to_csv('/Users/u0984549/Documents/GitHub/ArchetypalAnalysis/data/fifaRatingsSmall.csv', index = False)

In [76]:
XC, S, C, SSE, varexpl = PCHA(fifa_num, noc=3, I = None, delta=0)

In [77]:
S.shape

(3, 36)

In [78]:
S

matrix([[0.60959745, 0.01670212, 0.        , 0.06302723, 0.        ,
         0.        , 0.11945154, 0.        , 0.02601327, 0.12156567,
         0.00314774, 0.        , 0.        , 0.        , 0.        ,
         0.08700296, 0.        , 0.        , 0.01939508, 0.        ,
         0.0311858 , 0.01726411, 0.        , 0.0645308 , 0.        ,
         0.07761955, 0.06547558, 0.05517701, 0.04806127, 0.02981563,
         0.07742627, 1.        , 1.        , 1.        , 1.        ,
         1.        ],
        [0.39040255, 0.        , 0.95994905, 0.93697277, 0.7982424 ,
         0.49881678, 0.88054846, 0.69243861, 0.97398673, 0.87843433,
         0.78091923, 0.53947938, 0.00189635, 0.        , 0.07591132,
         0.        , 0.04678592, 0.67066414, 0.        , 0.20507098,
         0.        , 0.98273589, 0.61598804, 0.9354692 , 0.93411241,
         0.5093745 , 0.80381577, 0.25291468, 0.95193873, 0.97018437,
         0.92257373, 0.        , 0.        , 0.        , 0.        ,
         0.        ],
        [0.        , 0.98329788, 0.04005095, 0.        , 0.2017576 ,
         0.50118322, 0.        , 0.30756139, 0.        , 0.        ,
         0.21593303, 0.46052062, 0.99810365, 1.        , 0.92408868,
         0.91299704, 0.95321408, 0.32933586, 0.98060492, 0.79492902,
         0.9688142 , 0.        , 0.38401196, 0.        , 0.06588759,
         0.41300595, 0.13070865, 0.69190831, 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        ]])