In [1]:
import pandas as pd
import numpy as np
import py_pcha
from py_pcha import PCHA
import matplotlib.pyplot as plt
from numpy.matlib import repmat

In [2]:
data=pd.read_csv("/Users/markomiholjcic/Documents/GitHub/ArchetypalAnalysis/data/us-states.csv")
data

,date,geoid,state,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k
0,2020-01-21,USA-53,Washington,1,0.14,0.00,0,0.00,0.00
1,2020-01-22,USA-53,Washington,0,0.14,0.00,0,0.00,0.00
2,2020-01-23,USA-53,Washington,0,0.14,0.00,0,0.00,0.00
3,2020-01-24,USA-53,Washington,0,0.14,0.00,0,0.00,0.00
4,2020-01-24,USA-17,Illinois,1,0.14,0.00,0,0.00,0.00
...,...,...,...,...,...,...,...,...,...
22669,2021-04-18,USA-06,California,1610,2510.14,6.35,45,82.14,0.21
22670,2021-04-18,USA-05,Arkansas,45,185.57,6.15,1,4.71,0.16
22671,2021-04-18,USA-04,Arizona,711,600.00,8.24,2,11.50,0.16
22672,2021-04-18,USA-02,Alaska,0,161.57,22.09,0,0.17,0.02
22673,2021-04-18,USA-01,Alabama,270,345.00,7.04,0,11.14,0.23

In [3]:
data = data.drop(columns = ["geoid"])
data

,date,state,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k
0,2020-01-21,Washington,1,0.14,0.00,0,0.00,0.00
1,2020-01-22,Washington,0,0.14,0.00,0,0.00,0.00
2,2020-01-23,Washington,0,0.14,0.00,0,0.00,0.00
3,2020-01-24,Washington,0,0.14,0.00,0,0.00,0.00
4,2020-01-24,Illinois,1,0.14,0.00,0,0.00,0.00
...,...,...,...,...,...,...,...,...
22669,2021-04-18,California,1610,2510.14,6.35,45,82.14,0.21
22670,2021-04-18,Arkansas,45,185.57,6.15,1,4.71,0.16
22671,2021-04-18,Arizona,711,600.00,8.24,2,11.50,0.16
22672,2021-04-18,Alaska,0,161.57,22.09,0,0.17,0.02
22673,2021-04-18,Alabama,270,345.00,7.04,0,11.14,0.23

In [4]:
cols = data.columns.tolist()
cols

['date',
 'state',
 'cases',
 'cases_avg',
 'cases_avg_per_100k',
 'deaths',
 'deaths_avg',
 'deaths_avg_per_100k']

In [5]:
cols = [cols[1]] + [cols[0]] + cols[2:]
cols

['state',
 'date',
 'cases',
 'cases_avg',
 'cases_avg_per_100k',
 'deaths',
 'deaths_avg',
 'deaths_avg_per_100k']

In [6]:
data = data[cols] 
data

,state,date,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k
0,Washington,2020-01-21,1,0.14,0.00,0,0.00,0.00
1,Washington,2020-01-22,0,0.14,0.00,0,0.00,0.00
2,Washington,2020-01-23,0,0.14,0.00,0,0.00,0.00
3,Washington,2020-01-24,0,0.14,0.00,0,0.00,0.00
4,Illinois,2020-01-24,1,0.14,0.00,0,0.00,0.00
...,...,...,...,...,...,...,...,...
22669,California,2021-04-18,1610,2510.14,6.35,45,82.14,0.21
22670,Arkansas,2021-04-18,45,185.57,6.15,1,4.71,0.16
22671,Arizona,2021-04-18,711,600.00,8.24,2,11.50,0.16
22672,Alaska,2021-04-18,0,161.57,22.09,0,0.17,0.02
22673,Alabama,2021-04-18,270,345.00,7.04,0,11.14,0.23

In [7]:
data = data.rename(columns={"state": "id"})
data

,id,date,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k
0,Washington,2020-01-21,1,0.14,0.00,0,0.00,0.00
1,Washington,2020-01-22,0,0.14,0.00,0,0.00,0.00
2,Washington,2020-01-23,0,0.14,0.00,0,0.00,0.00
3,Washington,2020-01-24,0,0.14,0.00,0,0.00,0.00
4,Illinois,2020-01-24,1,0.14,0.00,0,0.00,0.00
...,...,...,...,...,...,...,...,...
22669,California,2021-04-18,1610,2510.14,6.35,45,82.14,0.21
22670,Arkansas,2021-04-18,45,185.57,6.15,1,4.71,0.16
22671,Arizona,2021-04-18,711,600.00,8.24,2,11.50,0.16
22672,Alaska,2021-04-18,0,161.57,22.09,0,0.17,0.02
22673,Alabama,2021-04-18,270,345.00,7.04,0,11.14,0.23

In [8]:
num = data._get_numeric_data()

num[num < 0] = 0

data

,id,date,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k
0,Washington,2020-01-21,1,0.14,0.00,0,0.00,0.00
1,Washington,2020-01-22,0,0.14,0.00,0,0.00,0.00
2,Washington,2020-01-23,0,0.14,0.00,0,0.00,0.00
3,Washington,2020-01-24,0,0.14,0.00,0,0.00,0.00
4,Illinois,2020-01-24,1,0.14,0.00,0,0.00,0.00
...,...,...,...,...,...,...,...,...
22669,California,2021-04-18,1610,2510.14,6.35,45,82.14,0.21
22670,Arkansas,2021-04-18,45,185.57,6.15,1,4.71,0.16
22671,Arizona,2021-04-18,711,600.00,8.24,2,11.50,0.16
22672,Alaska,2021-04-18,0,161.57,22.09,0,0.17,0.02
22673,Alabama,2021-04-18,270,345.00,7.04,0,11.14,0.23

In [9]:
data = data[(data['date'] > '2021-01-07') & (data['date'] < '2021-01-14')]
data = data[(data.id.isin(["Utah", "California", "Arizona", \
                                             "Oregon", \
                                "Washington", "Idaho", "Nevada"]))]

In [10]:
data_states = data["id"]
data_states = set(data_states)
data_states = list(data_states)

In [11]:
data_var = list(data.columns[2:])
#data_var = [data_var[2]]
data_var

['cases',
 'cases_avg',
 'cases_avg_per_100k',
 'deaths',
 'deaths_avg',
 'deaths_avg_per_100k']

In [12]:
states = data_states
variables = data_var

df = pd.DataFrame()

for i in range(len(states)):
    state = data.loc[data['id'] == ""+states[i]]
    newdf = state.iloc[0:1]
    
    for j in range(len(variables)):
        variable_name = variables[j]
        for k in range(state.shape[0]):
            var_name = str(k)
            value = state.iloc[k][""+variable_name]
            newdf[var_name+variable_name] = value
    
    df = pd.concat([df, newdf], ignore_index=True)
    
df

<ipython-input-12-f237a6595f77>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[var_name+variable_name] = value

,id,date,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k,0cases,1cases,...,2deaths_avg,3deaths_avg,4deaths_avg,5deaths_avg,0deaths_avg_per_100k,1deaths_avg_per_100k,2deaths_avg_per_100k,3deaths_avg_per_100k,4deaths_avg_per_100k,5deaths_avg_per_100k
0,Oregon,2021-01-08,1760,1067.14,25.30,13,12.71,0.30,1760,1629,...,13.86,15.86,17.00,20.71,0.30,0.35,0.33,0.38,0.40,0.49
1,Washington,2021-01-08,4109,3079.57,40.44,49,35.00,0.46,4109,2690,...,36.00,33.57,36.86,32.57,0.46,0.47,0.47,0.44,0.48,0.43
2,Nevada,2021-01-08,2959,2436.71,79.11,60,37.57,1.22,2959,2556,...,39.29,42.00,43.57,42.14,1.22,1.39,1.28,1.36,1.41,1.37
3,California,2021-01-08,50973,42057.57,106.44,674,427.14,1.08,50973,47230,...,480.71,483.71,517.00,516.14,1.08,1.14,1.22,1.22,1.31,1.31
4,Idaho,2021-01-08,1078,1027.14,57.48,7,12.57,0.70,1078,738,...,12.14,12.86,12.71,11.57,0.70,0.63,0.68,0.72,0.71,0.65
5,Utah,2021-01-08,3793,3499.71,109.16,21,15.71,0.49,3793,2613,...,13.14,13.29,15.43,16.57,0.49,0.44,0.41,0.41,0.48,0.52
6,Arizona,2021-01-08,13763,10268.43,141.07,206,136.43,1.87,13763,9754,...,154.29,154.71,169.00,174.57,1.87,2.01,2.12,2.13,2.32,2.40

In [13]:
df_data = df.fillna(0)

In [14]:
df_data = df_data.drop(columns = list(data.columns))
df_data

,0cases,1cases,2cases,3cases,4cases,5cases,0cases_avg,1cases_avg,2cases_avg,3cases_avg,...,2deaths_avg,3deaths_avg,4deaths_avg,5deaths_avg,0deaths_avg_per_100k,1deaths_avg_per_100k,2deaths_avg_per_100k,3deaths_avg_per_100k,4deaths_avg_per_100k,5deaths_avg_per_100k
0,1760,1629,1207,924,1184,1318,1067.14,1161.14,1134.00,1162.00,...,13.86,15.86,17.00,20.71,0.30,0.35,0.33,0.38,0.40,0.49
1,4109,2690,501,4738,2292,2327,3079.57,3220.29,2539.43,2820.43,...,36.00,33.57,36.86,32.57,0.46,0.47,0.47,0.44,0.48,0.43
2,2959,2556,2099,1713,2629,943,2436.71,2436.86,2412.71,2449.57,...,39.29,42.00,43.57,42.14,1.22,1.39,1.28,1.36,1.41,1.37
3,50973,47230,42413,40624,45884,41678,42057.57,41348.00,42276.29,42262.14,...,480.71,483.71,517.00,516.14,1.08,1.14,1.22,1.22,1.31,1.31
4,1078,738,426,815,917,1086,1027.14,1003.71,1024.86,960.57,...,12.14,12.86,12.71,11.57,0.70,0.63,0.68,0.72,0.71,0.65
5,3793,2613,2276,1503,2127,5188,3499.71,3139.43,3218.00,3124.14,...,13.14,13.29,15.43,16.57,0.49,0.44,0.41,0.41,0.48,0.52
6,13763,9754,6646,9225,10968,4944,10268.43,10391.14,8880.29,9461.29,...,154.29,154.71,169.00,174.57,1.87,2.01,2.12,2.13,2.32,2.40

In [15]:
df_num = df_data.to_numpy().T

In [16]:
df_num

array([[1.760000e+03, 4.109000e+03, 2.959000e+03, 5.097300e+04,
        1.078000e+03, 3.793000e+03, 1.376300e+04],
       [1.629000e+03, 2.690000e+03, 2.556000e+03, 4.723000e+04,
        7.380000e+02, 2.613000e+03, 9.754000e+03],
       [1.207000e+03, 5.010000e+02, 2.099000e+03, 4.241300e+04,
        4.260000e+02, 2.276000e+03, 6.646000e+03],
       [9.240000e+02, 4.738000e+03, 1.713000e+03, 4.062400e+04,
        8.150000e+02, 1.503000e+03, 9.225000e+03],
       [1.184000e+03, 2.292000e+03, 2.629000e+03, 4.588400e+04,
        9.170000e+02, 2.127000e+03, 1.096800e+04],
       [1.318000e+03, 2.327000e+03, 9.430000e+02, 4.167800e+04,
        1.086000e+03, 5.188000e+03, 4.944000e+03],
       [1.067140e+03, 3.079570e+03, 2.436710e+03, 4.205757e+04,
        1.027140e+03, 3.499710e+03, 1.026843e+04],
       [1.161140e+03, 3.220290e+03, 2.436860e+03, 4.134800e+04,
        1.003710e+03, 3.139430e+03, 1.039114e+04],
       [1.134000e+03, 2.539430e+03, 2.412710e+03, 4.227629e+04,
        1.024860e+03, 3.218000e+03, 8.880290e+03],
       [1.162000e+03, 2.820430e+03, 2.449570e+03, 4.226214e+04,
        9.605700e+02, 3.124140e+03, 9.461290e+03],
       [1.183290e+03, 2.807140e+03, 2.484290e+03, 4.349400e+04,
        9.057100e+02, 2.954000e+03, 9.580430e+03],
       [1.266570e+03, 2.842860e+03, 2.324000e+03, 4.417500e+04,
        8.911400e+02, 3.156710e+03, 9.294290e+03],
       [2.530000e+01, 4.044000e+01, 7.911000e+01, 1.064400e+02,
        5.748000e+01, 1.091600e+02, 1.410700e+02],
       [2.753000e+01, 4.229000e+01, 7.911000e+01, 1.046500e+02,
        5.617000e+01, 9.792000e+01, 1.427600e+02],
       [2.689000e+01, 3.335000e+01, 7.833000e+01, 1.070000e+02,
        5.735000e+01, 1.003800e+02, 1.220000e+02],
       [2.755000e+01, 3.704000e+01, 7.953000e+01, 1.069600e+02,
        5.375000e+01, 9.745000e+01, 1.299900e+02],
       [2.805000e+01, 3.686000e+01, 8.065000e+01, 1.100800e+02,
        5.068000e+01, 9.214000e+01, 1.316200e+02],
       [3.003000e+01, 3.733000e+01, 7.545000e+01, 1.118000e+02,
        4.987000e+01, 9.846000e+01, 1.276900e+02],
       [1.300000e+01, 4.900000e+01, 6.000000e+01, 6.740000e+02,
        7.000000e+00, 2.100000e+01, 2.060000e+02],
       [1.700000e+01, 7.000000e+00, 4.800000e+01, 4.730000e+02,
        4.000000e+00, 9.000000e+00, 1.130000e+02],
       [0.000000e+00, 1.000000e+00, 1.300000e+01, 3.010000e+02,
        6.000000e+00, 1.000000e+00, 5.800000e+01],
       [2.100000e+01, 1.700000e+01, 3.300000e+01, 3.810000e+02,
        1.600000e+01, 7.000000e+00, 6.000000e+00],
       [4.100000e+01, 7.600000e+01, 4.800000e+01, 7.240000e+02,
        1.100000e+01, 2.200000e+01, 3.900000e+02],
       [4.700000e+01, 4.000000e+01, 4.500000e+01, 5.480000e+02,
        1.300000e+01, 2.700000e+01, 1.520000e+02],
       [1.271000e+01, 3.500000e+01, 3.757000e+01, 4.271400e+02,
        1.257000e+01, 1.571000e+01, 1.364300e+02],
       [1.486000e+01, 3.586000e+01, 4.271000e+01, 4.510000e+02,
        1.129000e+01, 1.400000e+01, 1.460000e+02],
       [1.386000e+01, 3.600000e+01, 3.929000e+01, 4.807100e+02,
        1.214000e+01, 1.314000e+01, 1.542900e+02],
       [1.586000e+01, 3.357000e+01, 4.200000e+01, 4.837100e+02,
        1.286000e+01, 1.329000e+01, 1.547100e+02],
       [1.700000e+01, 3.686000e+01, 4.357000e+01, 5.170000e+02,
        1.271000e+01, 1.543000e+01, 1.690000e+02],
       [2.071000e+01, 3.257000e+01, 4.214000e+01, 5.161400e+02,
        1.157000e+01, 1.657000e+01, 1.745700e+02],
       [3.000000e-01, 4.600000e-01, 1.220000e+00, 1.080000e+00,
        7.000000e-01, 4.900000e-01, 1.870000e+00],
       [3.500000e-01, 4.700000e-01, 1.390000e+00, 1.140000e+00,
        6.300000e-01, 4.400000e-01, 2.010000e+00],
       [3.300000e-01, 4.700000e-01, 1.280000e+00, 1.220000e+00,
        6.800000e-01, 4.100000e-01, 2.120000e+00],
       [3.800000e-01, 4.400000e-01, 1.360000e+00, 1.220000e+00,
        7.200000e-01, 4.100000e-01, 2.130000e+00],
       [4.000000e-01, 4.800000e-01, 1.410000e+00, 1.310000e+00,
        7.100000e-01, 4.800000e-01, 2.320000e+00],
       [4.900000e-01, 4.300000e-01, 1.370000e+00, 1.310000e+00,
        6.500000e-01, 5.200000e-01, 2.400000e+00]])

In [47]:
def furthest_sum(K, noc, i, exclude=[]):
    
    def max_ind_val(l):
        return max(zip(range(len(l)), l), key=lambda x: x[1])
    
    I, J = K.shape
    #print(I,J)
    index = np.array(range(J))
    index[exclude] = 0
    index[i] = -1
    ind_t = i
    sum_dist = np.zeros((1, J), np.complex128)

    if J > noc * I:
        Kt = K
        Kt2 = np.sum(Kt**2, axis=0)
        for k in range(1, noc + 11):
            if k > noc - 1:
                Kq = np.dot(Kt[:, i[0]], Kt)
                #Kt_shape = Kt.shape
                #Kts = Kt[:, i[0]]
                #Ktsp = Kts.shape
                #Kq_shape = Kq.shape
                #print(Kt_shape,Ktsp,Kq_shape)
                sum_dist -= np.lib.scimath.sqrt(Kt2 - 2 * Kq + Kt2[i[0]])
                index[i[0]] = i[0]
                i = i[1:]
            t = np.where(index != -1)[0]
            Kq = np.dot(Kt[:, ind_t].T, Kt)
            sum_dist += np.lib.scimath.sqrt(Kt2 - 2 * Kq + Kt2[ind_t])
            #print(Kt2)
            ind, val = max_ind_val(sum_dist[:, t][0].real)
            ind_t = t[ind]
            i.append(ind_t)
            index[ind_t] = -1
    else:
        if I != J or np.sum(K - K.T) != 0:  # Generate kernel if K not one
            Kt = K
            K = np.dot(Kt.T, Kt)
            K = np.lib.scimath.sqrt(
                repmat(np.diag(K), J, 1) - 2 * K + \
                repmat(np.mat(np.diag(K)).T, 1, J)
            )

        Kt2 = np.diag(K)  # Horizontal
        for k in range(1, noc + 11):
            if k > noc - 1:
                sum_dist -= np.lib.scimath.sqrt(Kt2 - 2 * K[i[0], :] + Kt2[i[0]])
                index[i[0]] = i[0]
                i = i[1:]
            t = np.where(index != -1)[0]
            sum_dist += np.lib.scimath.sqrt(Kt2 - 2 * K[ind_t, :] + Kt2[ind_t])
            ind, val = max_ind_val(sum_dist[:, t][0].real)
            ind_t = t[ind]
            i.append(ind_t)
            index[ind_t] = -1

    return i

In [28]:
import time as time

In [48]:
"""Principal Convex Hull Analysis (PCHA) / Archetypal Analysis."""

import numpy as np
from scipy.sparse import csr_matrix
from datetime import datetime as dt
import time

#from py_pcha.furthest_sum import furthest_sum


def PCHAm(X, noc, I=None, U=None, delta=0, verbose=False, conv_crit=1E-6, maxiter=500):
    """Return archetypes of dataset.
    Note: Commonly data is formatted to have shape (examples, dimensions).
    This function takes input and returns output of the transposed shape,
    (dimensions, examples).
    Parameters
    ----------
    X : numpy.2darray
        Data matrix in which to find archetypes
    noc : int
        Number of archetypes to find
    I : 1d-array
        Entries of X to use for dictionary in C (optional)
    U : 1d-array
        Entries of X to model in S (optional)
    Output
    ------
    XC : numpy.2darray
        I x noc feature matrix (i.e. XC=X[:,I]*C forming the archetypes)
    S : numpy.2darray
        noc x length(U) matrix, S>=0 |S_j|_1=1
    C : numpy.2darray
        noc x length(U) matrix, S>=0 |S_j|_1=1
    SSE : float
        Sum of Squared Errors
    varexlp : float
        Percent variation explained by the model
    """
    #start = time.time()
    def S_update(S, XCtX, CtXtXC, muS, SST, SSE, niter):
        
        """Update S for one iteration of the algorithm."""
        noc, J = S.shape
        e = np.ones((noc, 1))
        #print(e.ndim)
        for k in range(niter):
            SSE_old = SSE
            #print(SSE_old)
            g = (np.dot(CtXtXC, S) - XCtX) / (SST / J)
            #print(g)
            g = g - e * np.sum(g.A * S.A, axis=0)
            #print(g)

            S_old = S
            #print(S_old)
            while True:
                S = (S_old - g * muS).clip(min=0)
                S = S / np.dot(e, np.sum(S, axis=0))
                #print(S)
                SSt = S * S.T
                #print(SSt)
                SSE = SST - 2 * np.sum(XCtX.A * S.A) + np.sum(CtXtXC.A * SSt.A)
                #print(SSE)
                #print(SSE_old)
                if SSE <= SSE_old * (1 + 1e-9):
                    muS = muS * 1.2
                    #print(muS)
                    break
                else:
                    muS = muS / 2

        return S, SSE, muS, SSt

    def C_update(X, XSt, XC, SSt, C, delta, muC, mualpha, SST, SSE, niter=1):
        """Update C for one iteration of the algorithm."""
        J, nos = C.shape

        if delta != 0:
            alphaC = np.sum(C, axis=0).A[0]
            C = np.dot(C, np.diag(1 / alphaC))

        #print(C)
        e = np.ones((J, 1))
        XtXSt = np.dot(X.T, XSt)
        #print(XtXSt)

        for k in range(niter):

            # Update C
            SSE_old = SSE
            #print(SSE_old)
            g = (np.dot(X.T, np.dot(XC, SSt)) - XtXSt) / SST
            #print(g)

            if delta != 0:
                g = np.dot(g, np.diag(alphaC))
            g = g.A - e * np.sum(g.A * C.A, axis=0)
            #print(g)
            
            C_old = C
            while True:
                C = (C_old - muC * g).clip(min=0)
                #print(C)
                nC = np.sum(C, axis=0) + np.finfo(float).eps
                C = np.dot(C, np.diag(1 / nC.A[0]))
                #print(C)
                
                if delta != 0:
                    Ct = C * np.diag(alphaC)
                else:
                    Ct = C

                XC = np.dot(X, Ct)
                CtXtXC = np.dot(XC.T, XC)
                #print(CtXtXC)
                SSE = SST - 2 * np.sum(XC.A * XSt.A) + np.sum(CtXtXC.A * SSt.A)
                #print(SSE)
                
                if SSE <= SSE_old * (1 + 1e-9):
                    muC = muC * 1.2
                    break
                else:
                    muC = muC / 2

            # Update alphaC
            SSE_old = SSE
            if delta != 0:
                g = (np.diag(CtXtXC * SSt).T / alphaC - np.sum(C.A * XtXSt.A)) / (SST * J)
                #print(g)
                alphaC_old = alphaC
                while True:
                    alphaC = alphaC_old - mualpha * g
                    alphaC[alphaC < 1 - delta] = 1 - delta
                    alphaC[alphaC > 1 + delta] = 1 + delta

                    XCt = np.dot(XC, np.diag(alphaC / alphaC_old))
                    CtXtXC = np.dot(XCt.T, XCt)
                    SSE = SST - 2 * np.sum(XCt.A * XSt.A) + np.sum(CtXtXC.A * SSt.A)
                    #print(SSE)
                    
                    if SSE <= SSE_old * (1 + 1e-9):
                        mualpha = mualpha * 1.2
                        XC = XCt
                        break
                    else:
                        mualpha = mualpha / 2

        if delta != 0:
            C = C * np.diag(alphaC)

        return C, SSE, muC, mualpha, CtXtXC, XC

    N, M = X.shape
    

    if I is None:
        I = range(M)
    if U is None:
        U = range(M)
        
    #print(X[:,U])

    SST = np.sum(X[:, U] * X[:, U])
    #print(SST)
    
    #print(X[:,I])

    #Initialize C
    try:
       i = furthest_sum(X[:, I], noc, [int(np.ceil(len(I) * np.random.rand()))])
    except IndexError:
        class InitializationException(Exception): pass
        raise InitializationException("Initialization does not converge. Too few examples in dataset.")

    #i = [1,2,0]
        
    j = range(noc)
    C = csr_matrix((np.ones(len(i)), (i, j)), shape=(len(I), noc)).todense()
    #print(C)
    
    XC = np.dot(X[:, I], C)
    #print(XC)

    muS, muC, mualpha = 1, 1, 1

    # Initialise S
    XCtX = np.dot(XC.T, X[:, U])
    #print(XCtX)
    CtXtXC = np.dot(XC.T, XC)
    #print(CtXtXC)
    S = -np.log(np.random.random((noc, len(U))))
    #S = -np.log((np.ones((3,48))-0.5))
    #print(S)
    S = S / np.dot(np.ones((noc, 1)), np.mat(np.sum(S, axis=0)))
    #print(S)
    SSt = np.dot(S, S.T)
    SSE = SST - 2 * np.sum(XCtX.A * S.A) + np.sum(CtXtXC.A * SSt.A)
    #print(SSE)
    S, SSE, muS, SSt = S_update(S, XCtX, CtXtXC, muS, SST, SSE, 25)
    #print(S, SSE, muS, SSt)

    # Set PCHA parameters
    iter_ = 0
    dSSE = np.inf
    t1 = dt.now()
    varexpl = (SST - SSE) / SST
    #print(varexpl)

    if verbose:
        print('\nPrincipal Convex Hull Analysis / Archetypal Analysis')
        print('A ' + str(noc) + ' component model will be fitted')
        print('To stop algorithm press control C\n')

    dheader = '%10s | %10s | %10s | %10s | %10s | %10s | %10s | %10s' % ('Iteration', 'Expl. var.', 'Cost func.', 'Delta SSEf.', 'muC', 'mualpha', 'muS', ' Time(s)   ')
    dline = '-----------+------------+------------+-------------+------------+------------+------------+------------+'

    while np.abs(dSSE) >= conv_crit * np.abs(SSE) and iter_ < maxiter and varexpl < 0.9999:
        if verbose and iter_ % 100 == 0:
            print(dline)
            print(dheader)
            print(dline)
        told = t1
        iter_ += 1
        SSE_old = SSE

        # C (and alpha) update
        XSt = np.dot(X[:, U], S.T)
        #print(XSt)
        C, SSE, muC, mualpha, CtXtXC, XC = C_update(
            X[:, I], XSt, XC, SSt, C, delta, muC, mualpha, SST, SSE, 10
        )
        #print(C,SSE,muC,mualpha,CtXtXC,XC)

        # S update
        XCtX = np.dot(XC.T, X[:, U])
        #print(XCtX)
        S, SSE, muS, SSt = S_update(
            S, XCtX, CtXtXC, muS, SST, SSE, 10
        )
        #print(S,SSE,muS,SSt)

        # Evaluate and display iteration
        dSSE = SSE_old - SSE
        #print(dSSE)
        t1 = dt.now()
        if iter_ % 1 == 0:
            time.sleep(0.000001)
            varexpl = (SST - SSE) / SST
            if verbose:
                print('%10.0f | %10.4f | %10.4e | %10.4e | %10.4e | %10.4e | %10.4e | %10.4f \n' % (iter_, varexpl, SSE, dSSE/np.abs(SSE), muC, mualpha, muS, (t1-told).seconds))

    # Display final iteration
    varexpl = (SST - SSE) / SST
    #print(varexpl)
    if verbose:
        print(dline)
        print(dline)
        print('%10.0f | %10.4f | %10.4e | %10.4e | %10.4e | %10.4e | %10.4e | %10.4f \n' % (iter_, varexpl, SSE, dSSE/np.abs(SSE), muC, mualpha, muS, (t1-told).seconds))

    #print(S)
    #print(C)
    #print(XC)
        
    # Sort components according to importance
    ind, vals = zip(
        *sorted(enumerate(np.sum(S, axis=1)), key=lambda x: x[0], reverse=1)
    )
    S = S[ind, :]
    C = C[:, ind]
    XC = XC[:, ind]

    #end = time.time()
    #print(end - start)
    return XC, S, C, SSE, varexpl

#XC2, S2, C2, SSE2, varexpl2 = PCHAm(dec6_wo_st, noc=3, I = None, delta=0)

In [49]:
XC, S, C, SSE, varexpl = PCHAm(df_num, noc=3, I = None, delta=0)

1.147623062133789

In [22]:
XC2, S2, C2, SSE2, varexpl2 = PCHA(df_num, noc=3, I = None, delta=0)

In [23]:
ans = 0

for i in range(len(S)):
    a = S[i] - S2[i]
    ans = ans + a
    
print(ans)

[[ 5.55111512e-17 -8.32667268e-17  0.00000000e+00 -5.55111512e-17
   0.00000000e+00  1.38777878e-16  2.77555756e-17  5.55111512e-17
   2.77555756e-17 -1.04083409e-16 -1.38777878e-17 -1.11022302e-16
   2.08166817e-16 -5.55111512e-17  5.55111512e-17  2.77555756e-16
   5.55111512e-17 -2.77555756e-17 -2.22044605e-16 -5.55111512e-17
   1.66533454e-16  2.08166817e-17  1.11022302e-16 -6.93889390e-17
   5.55111512e-17  0.00000000e+00  0.00000000e+00  1.66533454e-16
   1.04083409e-16  8.32667268e-17  1.66533454e-16  5.55111512e-17
  -5.55111512e-17  2.22044605e-16  0.00000000e+00  2.77555756e-17
  -1.31838984e-16  3.46944695e-17 -5.55111512e-17 -5.55111512e-17
   1.11022302e-16 -5.55111512e-17  2.35922393e-16 -1.11022302e-16
   8.32667268e-17 -2.77555756e-17  0.00000000e+00 -1.11022302e-16
   1.11022302e-16 -5.55111512e-17 -2.60208521e-18 -4.16333634e-17
   5.55111512e-17  5.55111512e-17  0.00000000e+00]]

In [24]:
ans = 0

for i in range(len(C)):
    a = C[i] - C2[i]
    ans = ans + a
    
print(ans)

[[ 2.94902991e-17 -1.94289029e-16 -3.46944695e-17]]